html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus {
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
b,
strong {
  font-weight: 700;
}
a {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
::-moz-focus-inner {
  border: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.page {
  padding-top: 90px;
  padding-bottom: 40px;
}
.page.no-footer {
  padding-bottom: 0;
}
.page.no-footer footer {
  display: none;
}
header {
  width: 100%;
  height: 90px;
  position: fixed;
  left: 0;
  top: 0;
  background: url(../images/bg-header.png) no-repeat;
  background-size: 100% 100%;
}
header img {
  display: block;
  width: 100%;
  height: 100%;
}
header .logo {
  width: 75px;
  height: 78px;
  position: absolute;
  left: 15px;
  top: 0;
}
header .slogan {
  width: 131px;
  height: 37px;
  position: absolute;
  left: 105px;
  top: 17px;
}
header .logo-uni {
  width: 33px;
  height: 37px;
  position: absolute;
  right: 19px;
  top: 19px;
}
footer {
  width: 100%;
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  line-height: 12px;
  font-size: 9px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  color: #06476f;
}
.checkin-page {
  padding: 5px 15px 0 15px;
}
.checkin-page .welcome-bg {
  text-align: center;
  padding: 5px 0 25px 0;
}
.checkin-page .welcome-bg img {
  display: inline-block;
  width: 189px;
  height: 140px;
}
.checkin-page .course-title {
  text-align: center;
  margin-bottom: 15px;
}
.checkin-page .course-title .welcome-to img {
  display: inline-block;
  width: 127px;
  height: 22px;
}
.checkin-page .course-title h2 {
  font-size: 23px;
  font-weight: bold;
  color: #06476f;
}
.checkin-page .account-input,
.checkin-page .password-input {
  width: 73%;
  min-width: 235px;
  height: 38px;
  margin: 0 auto;
  line-height: 36px;
  overflow: hidden;
  margin: 0 auto 18px auto;
  border: 1px solid #76ae31;
  border-radius: 5px;
}
.checkin-page .account-input input,
.checkin-page .password-input input {
  width: 94%;
  margin: 0 3%;
  border: 0;
  padding: 0;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
}
.checkin-page .account-input label {
  display: block;
  margin-right: 125px;
  height: 36px;
  line-height: 36px;
}
.checkin-page .account-input input {
  margin: 0 0 0 6%;
}
.checkin-page .account-input span {
  display: block;
  float: right;
  width: 123px;
  height: 36px;
  line-height: 32px;
}
.checkin-page .account-input span img {
  width: 113px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
}
.checkin-page .submit-checkin {
  width: 73%;
  min-width: 235px;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.checkin-page .submit-checkin button {
  width: 100%;
  border: 0;
  background: #76ae31;
  border-radius: 5px;
  height: 38px;
  line-height: 38px;
  font-size: 15px;
  color: #fff;
}
.checkin-page .remember-checkbox {
  width: 73%;
  min-width: 235px;
  height: 38px;
  margin: 0 auto;
  height: auto;
  position: relative;
  font-size: 12px;
  color: #76ae31;
}
.checkin-page .remember-checkbox span {
  vertical-align: middle;
  display: inline-block;
}
.checkin-page .remember-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.checkin-page .remember-checkbox input[type="checkbox"] + span {
  margin-right: 6px;
  width: 16px;
  height: 16px;
  background: url(../images/bg-checkbox.png) no-repeat 0 0;
  background-size: 16px 32px;
}
.checkin-page .remember-checkbox input[type="checkbox"]:checked + span {
  background-position: 0 -16px;
}
.login-page .account-input,
.login-page .password-input {
  margin-bottom: 12px;
}
.login-page .submit-checkin {
  margin-bottom: 8px;
}
.home-page .home-block {
  padding: 14px 15px;
  border-bottom: 1px solid #d2d0cd;
  color: #535353;
}
.home-page .home-block p {
  margin-bottom: 8px;
}
.home-page h2 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.1em;
  color: #0b6fa8;
}
.home-page h2.view-all-title {
  margin-bottom: 0;
}
.home-page h2.view-all-title a {
  color: #76ae31;
}
.home-page h2.ico-paper,
.home-page h2.ico-cale {
  background-repeat: no-repeat;
  background-size: 16px 17px;
  height: 17px;
  line-height: 17px;
  padding-left: 22px;
}
.home-page h2.ico-paper {
  background-image: url(../images/ico-paper.png);
}
.home-page h2.ico-cale {
  background-image: url(../images/ico-cale.png);
}
.home-page .account-block {
  padding-top: 10px;
}
.home-page .account-block h2 {
  font-size: 18px;
  margin-right: 10px;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}
.home-page .account-block .reward-cont {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.home-page .account-block .reward-green,
.home-page .account-block .reward-gray {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 23px;
  background: url(../images/ico-reward.png) no-repeat;
  background-size: 30px 23px;
}
.home-page .account-block .reward-green span,
.home-page .account-block .reward-gray span {
  font-size: 10px;
  -webkit-text-size-adjust: none;
  color: #76ae31;
  display: block;
  width: 14px;
  text-align: center;
  margin-top: -10px;
}
.home-page .account-block .reward-gray {
  background-position: -15px 0;
}
.home-page .account-block .reward-gray span {
  color: #dfdfdf;
}
.home-page .course-item {
  width: 50%;
  border-right: 1px solid #0b6fa8;
  float: left;
  font-size: 12px;
  padding-right: 15px;
  padding-left: 0;
  margin-bottom: 10px;
}
.home-page .course-item p {
  margin-bottom: 5px;
}
.home-page .course-item a {
  color: #535353;
}
.home-page .course-item:nth-child(2n+1) {
  border-right: 0;
  padding-left: 15px;
  padding-right: 0;
}
.home-page .how-to h3 {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  height: 19px;
  line-height: 19px;
  padding-left: 20px;
}
.home-page .how-to ul {
  margin-bottom: 8px;
  padding: 2px 0;
}
.home-page .how-to li {
  font-size: 12px;
  list-style: disc outside;
  margin-left: 20px;
  padding: 3px 0;
  line-height: 1.2em;
}
.home-page .how-to .blue-list h3 {
  background: #06476f;
}
.home-page .how-to .blue1-list h3 {
  background: #0b6fa8;
}
.home-page .how-to .green-list h3 {
  background: #76ae31;
}
.home-page .how-to .blue-list ul {
  background: #dfecf3;
}
.home-page .how-to .blue1-list ul {
  background: #e0f3f9;
}
.home-page .how-to .green-list ul {
  background: #f5fae7;
}
.home-page .progress {
  border-bottom: 0;
}
.home-page .progress h3 {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}
.home-page .progress .progress-info {
  float: right;
}
.home-page .progress .progress-info span {
  display: block;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  width: 18px;
  text-align: center;
}
.home-page .progress .progress-info .current-progress {
  line-height: 15px;
}
.home-page .progress .progress-bar {
  width: 92%;
  background: #fff;
  border: 1px solid #a0a0a0;
  height: 32px;
}
.home-page .progress .progress-bar .bar {
  height: 30px;
  background-size: 30px 31px;
  background-repeat: repeat;
}
.home-page .progress .blue-bar .current-progress {
  border-bottom: 1px solid #06476f;
}
.home-page .progress .blue-bar .progress-bar .bar {
  background-image: url(../images/bg-proc1.png);
}
.home-page .progress .blue1-bar .current-progress {
  border-bottom: 1px solid #0b6fa8;
}
.home-page .progress .blue1-bar .progress-bar .bar {
  background-image: url(../images/bg-proc2.png);
}
.home-page .progress .green-bar .current-progress {
  border-bottom: 1px solid #76ae31;
}
.home-page .progress .green-bar .progress-bar .bar {
  background-image: url(../images/bg-proc3.png);
}
.checkin-suc-page {
  padding: 5px 15px;
}
.checkin-suc-page .title {
  font-size: 15px;
  line-height: 19px;
  margin: 0 0 20px 0;
  color: #0b6fa8;
  font-weight: 600;
}
.checkin-suc-page .course-logo {
  text-align: center;
  margin-bottom: 15px;
}
.checkin-suc-page .course-logo img {
  display: inline-block;
  width: auto;
  max-width: 60%;
}
.checkin-suc-page .info table td,
.checkin-suc-page .info table th {
  padding: 0 0 2px 0;
  font-size: 14px;
  line-height: 1.15em;
  vertical-align: top;
}
.checkin-suc-page .info table th {
  text-align: left;
  width: 27%;
  color: #0b6fa8;
  padding-right: 6px;
}
.checkin-suc-page .info table b {
  display: inline-block;
  margin-bottom: 6px;
}
.checkin-suc-page .info .desc {
  padding-top: 5px;
  line-height: 1.35em;
  font-size: 12px;
}
.checkin-suc-page .info .desc ul {
  list-style: disc outside;
  margin-left: 15px;
}
.courses-list-page {
  padding: 15px;
}
.courses-list-page li {
  margin: 0 0 12px 0;
}
.courses-list-page li a {
  text-decoration: none;
  color: #535353;
}
.courses-list-page li h2 {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.3em;
  min-height: 18px;
  padding-left: 30px;
  color: #535353;
  background: url(../images/ico-shrink.png) no-repeat left top;
  background-size: 20px 17px;
}
.courses-list-page li dl {
  display: none;
  margin-left: 30px;
  font-size: 12px;
  color: #535353;
}
.courses-list-page li dl dt {
  display: block;
  margin-top: 10px;
  background: url(../images/ico-list.png) no-repeat left top;
  background-size: 14px 12px;
  line-height: 1.3em;
  min-height: 16px;
  font-weight: bold;
  padding-left: 20px;
}
.courses-list-page li dl dd {
  margin-top: 3px;
  line-height: 1.2em;
}
.courses-list-page li.expand h2 {
  background-image: url(../images/ico-expand.png);
  background-size: 23px 17px;
}
.courses-list-page li.expand dl {
  display: block;
}
.cert-page {
  padding: 0 30px 55px 30px;
}
.cert-page .welcome-bg {
  width: 150px;
  margin: 10px auto;
}
.cert-page h2 {
  font-size: 16px;
  color: #0b6fa8;
  font-weight: 700;
  text-align: center;
  line-height: 1.1em;
  margin-bottom: 20px;
}
.cert-page h3 {
  font-size: 18px;
  color: #76ae31;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 10px;
}
.cert-page p {
  font-size: 12px;
  line-height: 1.5em;
}
.cert-page .signature {
  margin-top: 30px;
  font-size: 10px;
}
.cert-page .signature label {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.cert-page .signature span {
  height: 16px;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid #c8c8c8;
  min-width: 60px;
  padding-left: 3px;
  padding-right: 3px;
}
.cert-page .signature span:nth-child(2n) {
  margin-right: 15px;
}
.cert-footer {
  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.cert-footer img {
  display: inline-block;
  vertical-align: bottom;
}
