html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus {
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
b,
strong {
  font-weight: 700;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
::-moz-focus-inner {
  border: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.page {
  padding-top: 90px;
  padding-bottom: 30px;
}
header {
  width: 100%;
  height: 90px;
  position: fixed;
  left: 0;
  top: 0;
  background: url(../images/bg-header.png) no-repeat;
  background-size: 100% 100%;
}
header img {
  display: block;
  width: 100%;
  height: 100%;
}
header .logo {
  width: 75px;
  height: 78px;
  position: absolute;
  left: 15px;
  top: 0;
}
header .slogan {
  width: 131px;
  height: 37px;
  position: absolute;
  left: 105px;
  top: 17px;
}
header .logo-uni {
  width: 33px;
  height: 37px;
  position: absolute;
  right: 19px;
  top: 19px;
}
footer {
  width: 100%;
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  line-height: 12px;
  font-size: 9px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
}
.checkin-page {
  padding: 5px 15px;
}
.checkin-page .welcome-bg {
  text-align: center;
  padding: 5px 0 25px 0;
}
.checkin-page .welcome-bg img {
  display: inline-block;
  width: 189px;
  height: 140px;
}
.checkin-page .course-title {
  text-align: center;
  margin-bottom: 15px;
}
.checkin-page .course-title .welcome-to img {
  display: inline-block;
  width: 177px;
  height: 22px;
}
.checkin-page .course-title h2 {
  font-size: 23px;
  font-weight: bold;
  color: #06476f;
}
.checkin-page .account-input {
  width: 73%;
  min-width: 235px;
  height: 38px;
  overflow: hidden;
  margin: 0 auto 18px auto;
  border: 1px solid #42b936;
  border-radius: 5px;
}
.checkin-page .account-input label {
  display: block;
  margin-right: 125px;
  height: 36px;
  line-height: 36px;
}
.checkin-page .account-input label input {
  width: 94%;
  margin: 0 0 0 6%;
  border: 0;
  padding: 0;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
}
.checkin-page .account-input span {
  display: block;
  float: right;
  width: 123px;
  height: 36px;
  line-height: 32px;
}
.checkin-page .account-input span img {
  width: 113px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
}
.checkin-page .submit-checkin {
  width: 73%;
  min-width: 235px;
  height: 38px;
  margin: 0 auto 10px auto;
}
.checkin-page .submit-checkin button {
  width: 100%;
  border: 0;
  background: #42b936;
  border-radius: 5px;
  height: 38px;
  line-height: 38px;
  font-size: 15px;
  color: #fff;
}
.checkin-suc-page {
  padding: 5px 15px;
}
.checkin-suc-page .title {
  font-size: 15px;
  line-height: 19px;
  margin: 0 0 20px 0;
  color: #0b6fa8;
  font-weight: 600;
}
.checkin-suc-page .course-logo {
  text-align: center;
  margin-bottom: 15px;
}
.checkin-suc-page .course-logo img {
  display: inline-block;
  width: auto;
  max-width: 60%;
}
.checkin-suc-page .info table td,
.checkin-suc-page .info table th {
  padding: 0 0 2px 0;
  font-size: 14px;
  line-height: 1.15em;
  vertical-align: top;
}
.checkin-suc-page .info table th {
  text-align: left;
  width: 27%;
  color: #0b6fa8;
  padding-right: 6px;
}
.checkin-suc-page .info table b {
  display: inline-block;
  margin-bottom: 6px;
}
.checkin-suc-page .info .desc {
  padding-top: 5px;
  line-height: 1.35em;
  font-size: 12px;
}
.courses-list-page {
  padding: 15px;
}
.courses-list-page li {
  margin: 0 0 12px 0;
}
.courses-list-page li a {
  text-decoration: none;
  color: #535353;
}
.courses-list-page li h2 {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.3em;
  min-height: 18px;
  padding-left: 30px;
  color: #535353;
  background: url(../images/ico-shrink.png) no-repeat left top;
  background-size: 23px 17px;
}
.courses-list-page li dl {
  display: none;
  margin-left: 30px;
  font-size: 12px;
  color: #535353;
}
.courses-list-page li dl dt {
  display: block;
  margin-top: 10px;
  background: url(../images/ico-list.png) no-repeat left top;
  background-size: 14px 12px;
  line-height: 1.3em;
  min-height: 16px;
  font-weight: bold;
  padding-left: 20px;
}
.courses-list-page li dl dd {
  margin-top: 3px;
  line-height: 1.2em;
}
.courses-list-page li.expand h2 {
  background-image: url(../images/ico-expand.png);
  background-size: 20px 17px;
}
.courses-list-page li.expand dl {
  display: block;
}
